{% load static %}
  <nav class="navbar navbar-expand-sm bg-light login-nav">
    <div class="container-fluid">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"><img width="100px" src="{% static 'asset/img/logo.png' %}" alt="Fırat Ü. Logo"></a>

      </div>
      <div class="container">
        <ul class="navbar-nav">
          
          {% if request.user.is_authenticated %}
          <li class="nav-item ">
            <a class="nav-link" href="#">Profil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Kontrol Paneli</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Derslerim</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/articles/">Bloglar Ve Makaleler</a>
          </li>
          <li class="nav-item">
             <a class="nav-link" href="{% url 'user_op:logout' %}">Çıkış</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'user_op:login' %}">Giriş</a>
          </li>
          {% endif %}
          
        </ul>
      </div>
  </nav>
