{% load static %}
  <nav class="navbar navbar-expand-sm bg-light login-nav">
    <div class="container-fluid">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"><img width="100px" src="{% static 'asset/img/logo.png' %}" alt="Fırat Ü. Logo"></a>

      </div>
      <div class="container">
        <ul class="navbar-nav">
          <li class="nav-item ">
            <a class="nav-link" href="#">Profil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Kontrol Paneli</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Derslerim</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Bloglar Ve Makaleler</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Çıkış</a>
          </li>
        </ul>
      </div>
  </nav>
